.pulseLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--pulse-size) * 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  .pulseDot {
    width: var(--pulse-size);
    height: var(--pulse-size);
    border-radius: 50%;
    background-color: var(--pulse-color);
    animation: pulse 1.4s ease-in-out infinite both;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      animation-delay: -0.16s;
    }

    &:nth-child(3) {
      animation-delay: 0s;
    }
  }
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
