@use "@/style/variables" as *;

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        backdrop-filter: blur(10px);
        padding: 1rem 0 0;

        img {
            width: 100%;
            max-width: 100px;
            display: block;
            margin-bottom: 1rem;
        }

        .progress {
            height: 3px;
            background: var(--progress-color-200);
            border-radius: 999px;
            overflow: hidden;
        }
        .bar {
            height: 100%;
            background: var(--progress-color-300);
            width: var(--pct, 0%);
            transition: width 0.25s ease;
        }
    }
}

.content {
    padding: 10px 0 0;
}
